<app-header></app-header>
<div class="section landing-section">
  <div class="container">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
              <h2 class="text-center">Keep in touch?</h2>
              <form class="contact-form" method="post" #f="ngForm" (ngSubmit)="sendMessage(f)">
                  <div class="row">
                      <div class="col-md-6">
                          <label>Name</label>
      <div class="input-group">
                            <span class="input-group-addon">
                                <i class="nc-icon nc-single-02"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Name" required ngModel name="name" #name = "ngModel">

                        </div>
                      </div>
                      <div class="col-md-6">
                          <label>Email</label>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="nc-icon nc-email-85"></i>
        </span>
        <input type="text" class="form-control" placeholder="Email" name="email" required ngModel #email="ngModel">
      </div>
                      </div>
                  </div>
                  <label>Message</label>
                  <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..." required name="message" ngModel #message= "ngModel"></textarea>
                  <div class="row">
                      <div class="col-md-4 ml-auto mr-auto">
                          <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>