<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-shrink" id="secondNav">
      <div class="container">
        <a routerLink="/" class="navbar-brand js-scroll-trigger">D Portfolio</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a routerLink="/login" class="navlink js-scroll-trigger">Login</a>
            </li>
            <li class="nav-item">
              <a class="navlink js-scroll-trigger">Services</a>
            </li>
            <li class="nav-item">
              <a class="navlink js-scroll-trigger">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="navlink js-scroll-trigger" routerLink="/contact" >Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
